.wrapper--dark {
  background-color: rgba(35, 39, 47, .8);
}

.container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px 0;
}

.container h1 {
  text-align: center;
  margin-top: 0;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

.movies__director {
  font-weight: bold;
}

.toggle-theme-button {
  display: block;
  border: none;
  padding: 8px 16px;
  font-family: inherit;
  cursor: pointer;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: rgba(35, 39, 47, .8);
  color: white;
  margin: 0 auto 16px;
}

.toggle-theme-button--dark {
  background-color: white;
  color: rgba(35, 39, 47, .8);
}

@media(min-width: 768px) {
  .toggle-theme-button {
    position: absolute;
    right: 24px;
    top: 18px;
  }
}
